input[type="number"]::-webkit-outer-spin-btn,
input[type="number"]::-webkit-inner-spin-btn {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

html {
    overflow: auto;
}

body {
    overflow-x: hidden;
}

.page {
    background-color: #F6F6FA;
    min-width: 320px;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0 auto;
}

.header {
    background-color: #6725A8;
    margin: 0 auto;
}

.header-container {
    max-width: 1400px;
    padding: 16px 24px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    box-sizing: border-box;
}

.header-rounding {
    background-color: #F6F6FA;
    height: 23px;
    border-radius: 24px 24px 0 0;
}

.header-nav-element {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 28px;
}

.header-burger {
    background: transparent url('./images/burger.svg') center no-repeat;
    background-size: 28px 24px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.header-logo {
    background-image: url('./images/logo1.svg');
    background-size: 106px 48px;
    width: 106px;
    height: 48px;
    margin-top: 4px;
}

.header-navbar {
    margin-left: 28px;
}

.header-navbar-list {
    display: flex;
    list-style: none;
    gap: 42px;
    margin: 0;
    padding: 0;
}

.header-navbar-link {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1.23;
    color: #fff;
    text-decoration: none;
    align-items: center;
    margin-bottom: 2px;
    }

.header-navbar-img {
    margin-bottom: 6px;
}

.header-navbar-img-profile {
    margin-left: 2px;
}

.header-navbar-img-cart {
    margin-right: 6px;
}

.header-search {
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 48px;
    max-width: 970px;
    width: 100%;
}

.header-search-form {
    display: flex;
    padding: 10px 20px;
}

.header-search-input {
    font-size: 18px;
    line-height: 1.333;
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    margin-bottom: 2px;
    outline: none;
}

.header-search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.header-search-input:focus {
    border: none;
}

.header-search-btn {
    background: transparent url('./images/search.svg') center no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    opacity: 0.4;
    margin-top: 2px;
    cursor: pointer;
}

.main {
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sidebar {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.3);
    max-width: 429px;
    max-height: 555px;
    padding-top: 16px;
}

.sidebar-info {
    margin: 0 24px;
}

.sidebar-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.sidebar-details {
    display: flex;
    justify-content: space-between;
}

.sidebar-total-text {
    font-size: 24px;
    line-height: 1.33;
    margin: 0;
    padding: 0;
    letter-spacing: -0.3px;
    font-weight: 700;
}

.sidebar-details-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.sidebar-info-header-zone {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-info-title {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
}

.sidebar-info-edit-btn {
    background: transparent url('./images/edit.svg') center no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    cursor: pointer;
}

.sidebar-info-text {
    margin: 6px 0;
    font-size: 13px;
    line-height: 1.23;
}

.cart-info-text {
    margin: 6px 0;
    font-size: 13px;
    line-height: 1.23;
}

.sidebar-info-address {
    margin: 6px 0;
    font-size: 13px;
    line-height: 1.23;
}

.sidebar-info-date {
    margin: 0;
    color: #CB11AB;
    text-decoration: underline dashed rgba(203, 17, 171, 0.2);
    margin-top: -2px;
    font-size: 13px;
    line-height: 1.23;
}

.sidebar-info-price-zone {
    background-color: #F6F6FA;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    padding: 4px 8px 5px;
    margin-top: 12px;
    position: relative;
}

.sidebar-info-text-free {
    color: #0CB477;
    text-decoration: underline dashed rgba(12, 180, 119, 0.2);
    cursor: pointer;
}

.cart-info-text-free {
    color: #0CB477;
    text-decoration: underline dashed rgba(12, 180, 119, 0.2);
    cursor: pointer;
    margin-left: -8px;
}

.sidebar-card {
    display: flex;
    margin: 2px 0 0;
    align-items: center;
}

.cart-card {
    display: flex;
    margin: 2px 0 0;
    align-items: center;
}

.sidebar-info-payment-img {
    margin-right: 8px;
    height: 24px;
    width: 32px;
}

.sidebar-info-payment-zone {
    background-color: #F6F6FA;
    border-radius: 8px;
    padding: 8px 8px 6px 8px;
    margin-top: 10px;
}

.sidebar-info-payment-checkbox {
    width: 22px;
    height: 22px;
    border-radius: 6px;
    margin-bottom: 4px;
}

.sidebar-btn-order {
    background-color: #CB11AB;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    width: 100%;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 8px;
    padding: 0 0 5px;
    cursor: pointer;
}

.sidebar-btn-rules {
    display: flex;
}

.sidebar-info-tick {
    margin-right: 8px;
    align-self: start;
    margin-top: 7px;
}

.sidebar-total-text-currency {
    font-size: 20px;
}

.form-label-text {
    margin-left: 4px;
    margin-top: 1px;
}

.form-pseudo-item {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.form-item {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
}

.form-label {
    margin: 0;
    font-size: 13px;
    line-height: 1.23;
}

.form-item:checked+.form-pseudo-item {
    background: #CB11AB url('./images/whitetick.svg') center no-repeat;
    border-color: #CB11AB;
}

.cart-form-card-text {
    color: #9797AF;
    margin-bottom: 0;
    margin-top: 8px;
}

.sidebar-info-text-sogl {
    margin-top: 4px;
}

.cart-content {
    max-width: 891px;
    margin-top: 2px;
    width: calc(100% - 429px - 32px);
}

.cart-title {
    font-size: 28px;
    line-height: 1.28;
    margin: 10px 0 24px;
    letter-spacing: -0.28px;
}

.cart-checkbox {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 7px;
}

.cart-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-right: 1px;
}

.cart-list-icon {
    margin-top: 3px;
    cursor: pointer;
}

.form-pseudo-item-list {
    vertical-align: middle;
}

.cart-list-zone {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-item-info {
    display: flex;
    gap: 12px;
    max-width: 397px;
    padding-top: 2px;
}

.cart-item-photo {
    border-radius: 8px;
    width: 72px;
    height: 96px;
    box-sizing: border-box;
    margin-right: 4px;
}

.cart-item-name {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 7px;
    cursor: pointer;
}

.cart-item-detail {
    font-size: 13px;
    line-height: 1.23;
    margin: 0;
    margin-right: 11px;
}

.cart-item-details-line {
    display: flex;
    gap: 6px;
    margin-bottom: 8px;
    align-items: center;
    margin-top: 2px;
}

.cart-item-detail-grey {
    color: #9797AF;
    margin-right: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 9px;
}

.cart-item-info-price {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.cart-item-counter {
    background-color: #fff;
    border-radius: 8px;
    height: 44px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-minus {
    border: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
    font-size: 20px;
    line-height: 1.2;
    padding: 0;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.counter-plus {
    border: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
    font-size: 20px;
    line-height: 1.2;
    padding: 0 0 2px 3px;
    cursor: pointer;
}

.counter-number {
    border: none;
    background-color: transparent;
    width: 44px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 0 1px 1px;
    margin: 0;
}

.counter-number:focus {
    outline: 0;
    outline-offset: 0;
}

.cart-item-left {
    color: #FF3B30;
    font-size: 13px;
    line-height: 1.23;
    margin: 9px 0 0;
}

.cart-btn-like {
    background: transparent url('./images/heart.svg') center no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-btn-like:hover {
    background: transparent url('./images/heartactive.svg') center no-repeat;
}

.cart-btn-delete {
    background: transparent url('./images/trash.svg') center no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-btn-delete:hover {
    background: transparent url('./images/trashactive.svg') center no-repeat;
}

.cart-item-btns {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 9px;
    margin-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.cart-item:hover .cart-item-btns {
    opacity: 1;
    visibility: visible;
}

.cart-item-prices {
    display: flex;
    width: 110px;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}

.cart-item-final-price {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
    margin-bottom: 6px;
}

.cart-item-price {
    font-size: 13px;
    line-height: 1.23;
    color: #9797AF;
    text-decoration: line-through;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.20);
    margin: 0;
    cursor: pointer;
}

.cart-item-final-price .small {
    font-size: 16px;
    line-height: 1.5;
}

.cart-item-checkbox {
    margin-top: 36.5px;
}

.cart-missing-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.cart-missing-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
}

.cart-list-zone-missing {
    color: #9797AF;
}

.cart-item-photo-missing {
    filter: saturate(0);
}

.cart-missing-list {
    margin-top: 30px;
    margin-bottom: 32px;
}

.cart-item-btns-missing {
    margin-top: 1px;
    margin-bottom: 87px;
}

.cart-form {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px 24px 21px;
    margin-bottom: 16px;
}

.cart-form-payment {
    padding-bottom: 24px;
    padding-top: 17px;
}

.cart-form-user {
    margin-bottom: 26px;
    padding-bottom: 5px;
}

.cart-form-name {
    font-size: 24px;
    line-height: 1.33;
    margin: 0;
    padding: 0;
    letter-spacing: -0.24px;
    font-weight: 700;
}

.cart-form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: flex-end;
}

.cart-form-btn {
    color: #CB11AB;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    padding-bottom: 1px;
}

.cart-form-info-item {
    display: flex;
    gap: 32px;
    margin-bottom: 16px;
}

.cart-form-info-title {
    max-width: 154px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    margin: 0;
}

.cart-form-address {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.cart-form-info-text {
    font-size: 13px;
    line-height: 1.23;
    margin: 0;
}

.cart-form-about-shop {
    display: flex;
    gap: 8px;
    margin-top: 4px;
}

.cart-form-rating {
    display: flex;
    gap: 4px;
}

.cart-form-info-value {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.cart-form-delivery-photo {
    width: 40px;
    height: 56px;
    border-radius: 8px;
    margin-right: 9px;
    object-fit: cover;
    object-position: center;
}

.cart-form-delivery-price {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    position: relative;
}

.cart-form-card {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 12px 0 0;
}

.cart-form-input {
    border: none;
    appearance: none;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    outline: none;
}

.cart-form-input-error-add {
    border-bottom: 1px solid #F55123;
    color: #F55123;
}

.cart-form-input:focus+.cart-form-label {
    font-size: 13px;
    line-height: 1.23;
    top: -20px;
}

.cart-form-input:valid+.cart-form-label {
    font-size: 13px;
    line-height: 1.23;
    top: -15px;
}

.cart-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 18px 0px;
}

.cart-form-label {
    color: #9797AF;
    position: absolute;
    top: 3px;
    transition:
        top 0.3s ease,
        font-size 0.3s ease;
}

.cart-form-field-line {
    display: flex;
    gap: 24px;
    max-width: 700px;
}

.footer {
    background-color: #6725A8;
    margin: 0 auto;
}

.footer-rounding {
    background-color: #F6F6FA;
    height: 24px;
    border-radius: 0 0 24px 24px;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.footer-text {
    font-size: 13px;
    line-height: 1.23;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.cart-form-delivery-photos {
    display: flex;
}

.cart-form-label-tin {
    font-size: 12px;
    line-height: 1.17;
    margin-top: 4px;
}

.header-search-btn-mobile {
    display: none;
}

.cart-item-size {
    font-size: 13px;
    line-height: 1.23;
    margin: 0;
    margin-right: 11px;
}

.cart-item-shop-info {
    display: flex;
    gap: 6px;
    margin-bottom: 8px;
    align-items: center;
    margin-top: 2px;
    position: relative;
}

.cart-item-size-mobile {
    display: none;
}

.cart-item-prices-mobile {
    display: none;
}

.cart-info-icon {
    cursor: pointer;
}

.tooltip {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    padding: 11px 16px 13px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-shop-info {
    width: 280px;
    top: 25px;
    left: 0;
}

.tooltip-price-info {
    width: 239px;
    top: 52px;
    right: -9px;
}

.tooltip-free-delivery {
    width: 288px;
    top: 26px;
    left: 230px;
}

.tooltip-sidebar-free-delivery {
    width: 288px;
    top: 45px;
    left: 0;
}

.cart-info-icon:hover+.tooltip-shop-info {
    visibility: visible;
    opacity: 1;
}

.cart-item-price:hover+.tooltip-price-info {
    visibility: visible;
    opacity: 1;
}

.cart-info-text-free:hover+.tooltip-free-delivery {
    visibility: visible;
    opacity: 1;
}

.sidebar-info-price-zone:hover .tooltip-sidebar-free-delivery {
    visibility: visible;
    opacity: 1;
}

.tooltip-title {
    font-size: 13px;
    line-height: 1.23;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.tooltip-text {
    font-size: 13px;
    line-height: 1.23;
    margin: 0;
    padding: 0;
}

.tooltip-sale {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
}

.tooltip-text-sale-name {
    color: #A0A0A4;
}

.sidebar-info-text-mobile {
    display: none;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    max-width: 100%;
    box-sizing: border-box;
}

.modal-container {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: relative;
    padding: 16px 24px;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
}

.modal-container-payment {
    width: 400px;
    height: 408px;
}

.modal-container-delivery {
    width: 500px;
}

.modal-opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.3s;
    display: flex;
}

.modal-btn-exit {
    position: absolute;
    top: 20px;
    right: 18px;
    background: transparent url('./images/exit.svg') center no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.modal-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.2px;
    margin: 0;
    margin-bottom: 13px;
}

.modal-payment-label {
    display: flex;
    gap: 4px;
}

.modal-payment-number {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.form-radio {
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
}

.modal-btn {
    background-color: #CB11AB;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    width: 164px;
    height: 44px;
    margin: 0;
    margin-bottom: 8px;
    cursor: pointer;
}

.modal-delivery-types-btns {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.modal-delivery-btn {
    border-radius: 20px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.23;
    border: 2px solid rgba(203, 17, 171);
    box-sizing: border-box;
    height: 36px;
    width: 100%;
}

.modal-delivery-addresses {
    margin-top: 24px;
}

.modal-delivery-addresses-title {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.23;
    margin: 0;
    margin-bottom: 15px;
}

.modal-btn-delete {
    background: transparent url('./images/trashgrey.svg') center no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 2px;
}

.modal-btn-delete:hover {
    background: transparent url('./images/trashactive.svg') center no-repeat;
}

.modal-form-address {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    width: 400px;
}

.modal-address-label {
    display: flex;
    align-items: flex-start;
}

.modal-form-radio {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: space-between;
}

.modal-form-radio input {
    margin-top: 7px;
}

.modal-btn-delivery {
    margin-top: 35px;
}

.container-label {
    cursor: pointer;
}

.container-active {
    height: 0;
    overflow: hidden;
}

.container-content {
    overflow: visible;
}

.hidden {
    display: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.rotated {
    transform: rotate(-180deg);
}

.cart-list-header-items {
    display: flex;
}

.cart-list-header-number {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
}

.cart-list-header-price {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
}

.line {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hidden-missing-list {
    margin-bottom: 40px;
    margin-top: 16px
}

.cart-form-input-error {
    font-size: 12px;
    line-height: 1.17;
    color: #F55123;
}